<template>
	<el-button :disabled="disabled" :type="type" :size="size" :loading="busy" @click.prevent="onClick()"  >
         <slot></slot>
    </el-button> 
</template>  

<script src="./js/Confirm.js"></script>