<template>


<input
	 v-if="masked" 
	 type="text"
     :id="id"
     :class="inputClass"
     :name="name"
     :placeholder="placeholder"
     :required="required"
     v-model="mutableValue"
     v-mask="'##/##/####'"
     data-input>
<input
	 v-else="masked" 
	 type="text"
     :id="id"
     :class="inputClass"
     :name="name"
     :placeholder="placeholder"
     :required="required"
     v-model="mutableValue"
     data-input>

</template>  

<script src="./js/Datepicker.js"></script>