<template>
  <modal :name="modalname" transition="pop-out" :width="modalWidth" :height="400">

    <div slot="top-right">
      <button @click="$modal.hide(modalname)">
        x
      </button>
    </div>

    <div class="box">
      <div class="box-part" id="bp-left">
        <div class="partition" id="partition-register">
          <div class="partition-title">
              <slot name="header">
                default header
              </slot>
          </div>
          <slot name="body">
              default body
          </slot>
          
        </div>
      </div>
      <div class="box-part" id="bp-right">
        <slot name="right">
            default right
        </slot>

        <div class="box-messages">
        </div>
      </div>
    </div>
  </modal>
</template>

<script src="./js/Modal.js"></script>
<style src="./css/Modal.scss" lang="scss"></style>