<template>
	<div class="input-group">
	    <input 
	    type="text" 
	    :name="name" 
	    :class="classes" 
	    :placeholder="placeholder"
	    autocomplete="off"
	    :disabled="selectedText != '' || disabled"
	    :value="selectedText" />

	    <span class="input-group-addon" v-if="selectedText == ''">
	        <i class="fa fa-search">
	        </i>
	    </span>

	    <span class="input-group-btn" v-else>
	        <button @click.prevent="remove()" class="btn btn-danger" type="button">
	            <span class="fa fa-remove">
	            </span>
	        </button>
	    </span>
	</div>
</template>  

<script src="./js/Typeahead.js"></script>
