$green: #8CC051;
$gray: #bbbbbb;
$red: #E9573F;

.btn-sub{
  display: inline-block;
}

.button-submit {
  @extend .btn-sub;

  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px !important;
  background: #fff !important;
  border: 1px solid $green;
  color:$green;
  letter-spacing:1px;
  text-shadow:0;
  font:{
    size:12px;
    weight:bold;
  }
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: $green !important;
  }
  &:active {
    //letter-spacing: 2px;
    letter-spacing: 2px ;
  }
}

.button-cancel {
    @extend .button-submit;
    border: 1px solid $red;
    color:$red;
    &:hover {
      color:white;
      background: $red !important;
    }
}