@import "~bourbon/core/bourbon";

$social-color-pallete: (
     facebook: #3b5998,
     tumblr: #32506d,
     linkedin: #007bb6,
     twitter: #00aced,
     google-plus: #dd4b39,
     reddit: #8bbbe3,
     youtube: #df1c31,
     pinterest: #b81621,
     github: #444,
     envelope: #333,
     soundcloud: #f50
);

$social-default-icon-color: #fff;
$social-default-btn-color: #666;
$social-icon-size: 60px;
$social-icon-border: 2px;
$social-icon-border-radius: 5px;

$brand-color: #006FC2;

.icon-linksb {
    width: $social-icon-size;
    height: $social-icon-size;
    background-color: $social-default-btn-color;
    line-height: $social-icon-size;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    outline: none;
    margin: 0px;
   @include box-sizing(content-box);
    
    &.fillsb {
      @each $social-alias, $social-color in $social-color-pallete {
        &.#{$social-alias} {
          background-color: $social-color;
          &:hover {
            background-color: #fff;
            .fa-#{$social-alias} {
              color: $social-color;
              @include transition(color 150ms ease-in-out);
            }
          }
        }
      }
    }
  
  &.brand {
    background-color: #fff;
    .fa {
      color: $brand-color;
    }
  }
    
    &.round {
      border-radius: 50%;
    }
    
    &.round-corner {
      border-radius: $social-icon-border-radius;
    }
  
    &:hover {
      @include transition(background-color 150ms ease-in-out);
      height: $social-icon-size - $social-icon-border * 2;
      line-height: $social-icon-size - $social-icon-border * 2;
      width: $social-icon-size - $social-icon-border * 2;
      background-color: #fff;
      
      @each $social-alias, $social-color in $social-color-pallete {
        &.#{$social-alias} {
          border: $social-icon-border solid $social-color;
        }
      }
      
      .fa {
        line-height: $social-icon-size - $social-icon-border * 2;
      }
      
      @each $social-alias, $social-color in $social-color-pallete {
        .fa-#{$social-alias} {
            color: $social-color;
            @include transition(color 150ms ease-in-out);
        }
      }
  }
  
  .fa{ 
    color: $social-default-icon-color;
    line-height: $social-icon-size;
    font-size: $social-icon-size - $social-icon-size * 0.40;
  }
}

.brand-icons {
  background-color: #ddd;
  padding: 10px 0;
}
