<template>
  <div>
    <vuetable ref="vuetable"
      :api-url="url"
      :per-page="per_page"
      :fields="fields"
      pagination-path=""
      :css="css.table"
      :sort-order="sortOrder"
      :multi-sort="true"
      :append-params="moreParams"
      @vuetable:cell-clicked="onCellClicked"
      @vuetable:row-clicked="onRowClicked"
      @vuetable:pagination-data="onPaginationData">
      
      <template slot="actions" slot-scope="props">

        <slot name="custom-options" :row="props.rowData"></slot>

        <div class="table-button-container">
            <button v-tooltip.hover.focus="'Editar'" type="button" class="text-center btn btn-success btn-xs rounded" @click="selectRow(props.rowData)">
              <i class="fa fa-pencil" aria-hidden="true"></i></button>

            <button v-tooltip.hover.focus="'Eliminar'" type="button" class="text-center btn btn-danger btn-xs rounded" @click="deleteRow(props.rowData)">
              <i class="fa fa-times" aria-hidden="true"></i></button>
        </div>
      </template>

    </vuetable>
    <div class="vuetable-pagination">
      <vuetable-pagination-info ref="paginationInfo"
        :info-template="infoTemplate"
        :no-data-template="noDataTemplate"
        info-class="pagination-info"
      ></vuetable-pagination-info>

      <vuetable-pagination ref="pagination"
        :css="css.pagination"
        :icons="css.icons"
        @vuetable-pagination:change-page="onChangePage"
      ></vuetable-pagination>

    </div>
  </div>
</template>

<script>
export default {
  props: {
    url: {
      type: String,
      required: true,
    },
    params: {
      type: Object,
      required: true,
      default () {
        return {}
      }
    },
    per_page: {
      type: Number,
      required: false,
      default () {
        return 5
      }
    }
  },
  data () {
    return {
      fields: [
        {
          title:'<i class="fa fa-info"></i> <small>Dirección</small>',
          name: 'direccion',
          dataClass: 'text-center vuetable-th-slot-small',
          sortField: 'direccion',
          callback: 'small'
        },{
          title:'<i class="fa fa-bookmark-o"></i> <small>Ciudad</small>',
          name: 'ubicacion.nombre',
          sortField: 'codubicacion_direccion',
          callback: 'small'
        },
        '__slot:actions'
      ],
      infoTemplate:'<small>Mostrando {from} a {to} de un total de {total} registros</small>',
      noDataTemplate: '<small>Sin resultados</small>',
      css: {
        table: {
          tableClass: 'table table-striped table-bordered table-default table-select-row',
          ascendingIcon: 'fa fa-arrow-up',
          descendingIcon: 'fa fa-arrow-down'
        },
          pagination: {
          infoClass: 'pull-left',
          wrapperClass: 'vuetable-pagination pull-right',
          activeClass: 'btn-success',
          disabledClass: 'disabled',
          pageClass: 'btn btn-border',
          linkClass: 'btn btn-border',
          icons: {
            first: '',
            prev: '',
            next: '',
            last: '',
          },
        },
        icons: {
          first: 'glyphicon glyphicon-step-backward',
          prev: 'glyphicon glyphicon-chevron-left',
          next: 'glyphicon glyphicon-chevron-right',
          last: 'glyphicon glyphicon-step-forward',
        },
      },
      sortOrder: [
        { field: 'direccion', sortField: 'direccion', direction: 'asc'}
      ],
      moreParams: this.params
    }
  },
  mounted() {
    
  },
  methods: {
    image (value) {
      return '<img class="text-center" style="width: 30%" src="'+value+'"/>';
    },
    small (value) {
      return '<small>'+value+'</small>';
    },
    precio (value) {
      return this.$options.filters.currency(value);
    },
    selectRow(rowData){
      this.$emit('update:obj', rowData)
    },
    allcap (value) {
      return value.toUpperCase();
    },
    onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },
    reload () {
      this.$refs.vuetable.reload()
    },
    onCellClicked (data, field, event) {
      //console.log('cellClicked: ', field.name)
    },
    onRowClicked (data, event) {
      
    },
    deleteRow(rowData){
      this.$confirm('¿Está seguro que desea continuar?', 'Advertencia', {
          confirmButtonText: 'Sí',
          cancelButtonText: 'Cancelar',
          type: 'warning',
          center: true
      }).then(() => {
          this.delete(rowData);
      }).catch(() => {});
    },
    delete(rowData){
      var self = this;
      var data = {
          coddireccion: rowData.coddireccion,
      };
      axios.post('tramites/personas/direcciones/eliminar', data).then(function(response) {
          self.$notify({
              title: response.data.title,
              message: response.data.message,
              type: response.data.type,
          });
          self.reload()
      }).catch(function(error) {
          self.busy = false;
          swal('Oops...', 'Something went wrong!', 'error');
      });
    }
  },
  events: {
    'filter-set-m' (filterText) {
      this.moreParams = {
        filter: filterText
      }
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    },
    'filter-reset-m' () {
      this.moreParams = {}
      Vue.nextTick( () => this.$refs.vuetable.refresh() )
    }
  },
  watch: {
      'params': {
          handler: function(newValue) {
              this.moreParams = this.params;
              Vue.nextTick( () => this.$refs.vuetable.refresh() )
          },
          deep: true
      },
  },
}
</script>