.container-upload .btn-group .dropdown-menu {
    display: block;
    visibility: hidden;
    transition: all .2s
}
.container-upload .btn-group:hover>.dropdown-menu {
    visibility: visible;
}
.container-upload label.dropdown-item {
    margin-bottom: 0;
}
.container-upload .btn-group .dropdown-toggle {
    margin-right: .6rem
}
.container-upload .filename {
    margin-bottom: .3rem
}
.container-upload .btn-is-option {
    margin-top: 0.25rem;
}
.container-upload .example-foorer {
    padding: .5rem 0;
    border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
}
.container-upload .edit-image img {
    max-width: 100%;
}
.container-upload .edit-image-tool {
    margin-top: .6rem;
}
.container-upload .edit-image-tool .btn-group {
    margin-right: .6rem;
}
.container-upload .footer-status {
    padding-top: .4rem;
}
.container-upload .drop-active {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    opacity: .6;
    text-align: center;
    background: #000;
}
.container-upload .drop-active h3 {
    margin: -.5em 0 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 40px;
    color: #fff;
    padding: 0;
}
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}
.upload-drop-zone {
    color: #747474;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}