
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:700,400);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Components
//Button submit
@import "./components/buttonsubmit";

@import "./components/sb";

//Tooltip vue
@import "~vue-directive-tooltip/src/css/index.scss";

//vue2-animate
@import "~vue2-animate/dist/vue2-animate.min.css";

//sweetalert2
@import "~sweetalert2/dist/sweetalert2.css"