#cnt1 {
    background-color: rgba(215, 212, 212, 0.88);
    margin-bottom: 70px;
}

.panel1 {
    padding-left: 20px;
    padding-right: 20px;
}

.panel-body:not(.two-col) {
    padding: 0px;
}

.panel-body .radio,
.panel-body .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel-body .list-group {
    margin-bottom: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.frb-group {
    margin: 15px 0;
}

.frb~.frb {
    margin-top: 15px;
}

.frb input[type="radio"]:empty,
.frb input[type="checkbox"]:empty {
    display: none;
}

.frb input[type="radio"]~label:before,
.frb input[type="checkbox"]~label:before {
    font-family: FontAwesome;
    content: '\f096';
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 15px;
    font-size: 22px;
}

.frb-success input[type="radio"]:checked~label:before,
.frb-success input[type="checkbox"]:checked~label:before {
    content: '\f046';
}

.frb-danger input[type="radio"]:checked~label:before,
.frb-danger input[type="checkbox"]:checked~label:before {
    content: '\f00d';
}

.frb input[type="radio"]~label,
.frb input[type="checkbox"]~label {
    position: relative;
    cursor: pointer;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.frb input[type="radio"]~label:focus,
.frb input[type="radio"]~label:hover,
.frb input[type="checkbox"]~label:focus,
.frb input[type="checkbox"]~label:hover {
    box-shadow: 0px 0px 3px #333;
}

.frb input[type="radio"]:checked~label,
.frb input[type="checkbox"]:checked~label {
    color: #fafafa;
}

.frb input[type="radio"]:checked~label,
.frb input[type="checkbox"]:checked~label {
    background-color: #f2f2f2;
}

.frb.frb-default input[type="radio"]:checked~label,
.frb.frb-default input[type="checkbox"]:checked~label {
    color: #333;
}

.frb.frb-primary input[type="radio"]:checked~label,
.frb.frb-primary input[type="checkbox"]:checked~label {
    background-color: #337ab7;
}

.frb.frb-success input[type="radio"]:checked~label,
.frb.frb-success input[type="checkbox"]:checked~label {
    background-color: #5cb85c;
}

.frb.frb-info input[type="radio"]:checked~label,
.frb.frb-info input[type="checkbox"]:checked~label {
    background-color: #5bc0de;
}

.frb.frb-warning input[type="radio"]:checked~label,
.frb.frb-warning input[type="checkbox"]:checked~label {
    background-color: #f0ad4e;
}

.frb.frb-danger input[type="radio"]:checked~label,
.frb.frb-danger input[type="checkbox"]:checked~label {
    background-color: #d9534f;
}

.frb input[type="radio"]:empty~label span,
.frb input[type="checkbox"]:empty~label span {
    display: inline-block;
}

.frb input[type="radio"]:empty~label span.frb-title,
.frb input[type="checkbox"]:empty~label span.frb-title {
    /* font-size: 16px; */
    /* font-weight: 700; */
    margin: 5px 5px 5px 50px;
    text-align: justify;
}

.frb input[type="radio"]:empty~label span.frb-description,
.frb input[type="checkbox"]:empty~label span.frb-description {
    font-weight: normal;
    font-style: italic;
    color: #999;
    margin: 5px 5px 5px 50px;
}

.frb input[type="radio"]:empty:checked~label span.frb-description,
.frb input[type="checkbox"]:empty:checked~label span.frb-description {
    color: #fafafa;
}

.frb.frb-default input[type="radio"]:empty:checked~label span.frb-description,
.frb.frb-default input[type="checkbox"]:empty:checked~label span.frb-description {
    color: #999;
}

.bloque-resultado {
    border-bottom: 2px solid #d7d9de;
    margin-bottom: 5px;
}

.bloque-resultado:last-child {
    border-bottom: 0px;
}

.bloque-resultado-widget {
    margin-top: 0px;
    background-color: #e9ebef;
    padding: 8px 50px;
    border-radius: 6px;
}

.bloque-resultado-widget:last-child {
    border-bottom: 0px;
}

.titulo-bloque-resultado-widget {
    color: #094bde;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
    letter-spacing: 1px;
    line-height: 1;
}

.spand {
    display: block;
    font-size: 13px;
    
}