/* Create your style on here */

.nav-tabs .nav-border-top-otro.active:after {
    border: 2px solid var(--color);
    top: 0;
    left: -1px;
    right: 0;
}
.bg-otro {
    background-color: var(--color)!important;
    border: 1px solid var(--color);
    color: #fff;
}
.table-otro thead tr th {
    background-color: var(--color)!important;
    border-color: var(--color) #EEEEEF #EEEEEF!important;
    color: #fff;
}