iframe {
    max-width: 100%;
}

.container-img-preview {
    padding: 15px;
}

.img-preview-sm {
    height: 130px;
    width: 200px;
}

.img-container,
.img-preview {
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.loading {
    height: 150px;
    width: 150px;
    position: fixed;
    border-radius: 4px;
    left: 50%;
    top: 50%;
    margin: -40px 0 0 -10px;
    z-index: 2000;
    display: none;
    background: url('../images/processing.gif') no-repeat center;
}

.loading-th {
    background-color: #ffffff;
    background-image: url('../images/loading.gif');
    background-size: 25px 25px;
    background-position: right center;
    background-repeat: no-repeat;
}

[v-cloak] {
    display: none
}


/* ========================================================================
 * MARGIN ROWS
 * ======================================================================== */

.top5 {
    margin-top: 5px;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top30 {
    margin-top: 30px;
}


/* ========================================================================
 * CUSTOM PANELS
 * ======================================================================== */

.panel-rojo>.panel-heading {
    background-color: #F55039;
    border: 1px solid #F55039;
    color: white;
}

.panel-rojo-oscuro>.panel-heading {
    background-color: #7A281C;
    border: 1px solid #7A281C;
    color: white;
}

.panel-azul>.panel-heading {
    background-color: #46A6F7;
    border: 1px solid #46A6F7;
    color: white;
}

.panel-azul-oscuro>.panel-heading {
    background-color: #23527B;
    border: 1px solid #23527B;
    color: white;
}

.panel-verde>.panel-heading {
    background-color: #47887E;
    border: 1px solid #47887E;
    color: white;
}

.panel-verde-oscuro>.panel-heading {
    background-color: #23433F;
    border: 1px solid #23433F;
    color: white;
}

.panel-naranja>.panel-heading {
    background-color: #F59B24;
    border: 1px solid #F59B24;
    color: white;
}

.panel-marron>.panel-heading {
    background-color: #7A4D12;
    border: 1px solid #7A4D12;
    color: white;
}

.panel-accent>.panel-heading {
    background-color: #5F7C8A;
    border: 1px solid #5F7C8A;
    color: white;
}

.panel-secondary>.panel-heading {
    background-color: #747474;
    border: 1px solid #747474;
    color: white;
}

.panel-divider>.panel-heading {
    background-color: #BCBCBC;
    border: 1px solid #BCBCBC;
    color: white;
}

.panel-light>.panel-heading {
    background-color: #C7E5C8;
    border: 1px solid #C7E5C8;
    color: white;
}

.panel-amarillo>.panel-heading {
    background-color: #D4E19E;
    border: 1px solid #D4E19E;
    color: white;
}

.panel-verde-2>.panel-heading {
    background-color: #9DB482;
    border: 1px solid #9DB482;
    color: white;
}

.panel-rojo>.panel-heading {
    background-color: #9F4840;
    border: 1px solid #9F4840;
    color: white;
}

.panel-gris>.panel-heading {
    background-color: #95A89A;
    border: 1px solid #95A89A;
    color: white;
}

.panel-marron-2>.panel-heading {
    background-color: #8F785E;
    border: 1px solid #8F785E;
    color: white;
}

.panel-marron-3>.panel-heading {
    background-color: #885D35;
    border: 1px solid #885D35;
    color: white;
}

.panel-dazzled>.panel-heading {
    background-color: #30638E;
    border: 1px solid #30638E;
    color: white;
}

.panel-metalic>.panel-heading {
    background-color: #00798C;
    border: 1px solid #00798C;
    color: white;
}

.panel-imperial>.panel-heading {
    background-color: #003D5B;
    border: 1px solid #003D5B;
    color: white;
}

.panel-sh {
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 25px;
    margin-top: 0px;
    width: 100%;
    background-color: #F3F3F3 !important;
}

.panel-shadow {
    -webkit-box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.75);
}

.panel-well>.panel-body {
    background-color: #EEEEEE !important;
}


/* ========================================================================
 * CUSTOM TABLES
 * ======================================================================== */

.table-accent thead tr th {
    background-color: #5F7C8A !important;
    color: #fff;
}

.table-accent.table-bordered {
    border: 0.4px solid #5F7C8A;
}

.table-accent.table-bordered tbody tr td.sorting_1 {
    border-right: 1px solid #5F7C8A !important;
}

.table-accent table.has-columns-hidden>tbody>tr>td>span.responsiveExpander:before {
    color: white;
}

.table-accent table.has-columns-hidden>tbody>tr.detail-show>td span.responsiveExpander:before {
    color: white;
}


/* ======================================================================
 * Titles
 * ====================================================================== */

.features-title {
    position: relative;
    color: #404040;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.features-title::after {
    display: block;
    position: absolute;
    bottom: -.2em;
    left: 50%;
    margin-left: -40px;
    content: "";
    width: 80px;
    height: 3px;
    background-color: #144966;
}


/* ======================================================================
 * Images
 * ====================================================================== */

.scale-img {
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: 0.3s ease;
    transform: scale(1);
    cursor: pointer;
}

.scale-img:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(4, 4);
}

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}


/* Zoom In #1 */

.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


/* Zoom In #2 */

.hover02 figure img {
    width: 300px;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover02 figure:hover img {
    width: 350px;
}


/* Zoom Out #1 */

.hover03 figure img {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover03 figure:hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}


/* Zoom Out #2 */

.hover04 figure img {
    width: 400px;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover04 figure:hover img {
    width: 300px;
}


/* Slide */

.hover05 figure img {
    margin-left: 30px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover05 figure:hover img {
    margin-left: 0;
}


/* Rotate */

.hover06 figure img {
    -webkit-transform: rotate(15deg) scale(1.4);
    transform: rotate(15deg) scale(1.4);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover06 figure:hover img {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
}


/* Blur */

.hover07 figure img {
    -webkit-filter: blur(3px);
    filter: blur(3px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover07 figure:hover img {
    -webkit-filter: blur(0);
    filter: blur(0);
}


/* Gray Scale */

.hover08 figure img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover08 figure:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}


/* Sepia */

.hover09 figure img {
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover09 figure:hover img {
    -webkit-filter: sepia(0);
    filter: sepia(0);
}


/* Blur + Gray Scale */

.hover10 figure img {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover10 figure:hover img {
    -webkit-filter: grayscale(100%) blur(3px);
    filter: grayscale(100%) blur(3px);
}


/* Opacity #1 */

.hover11 figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover11 figure:hover img {
    opacity: .5;
}


/* Opacity #2 */

.hover12 figure {
    background: #1abc9c;
}

.hover12 figure img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover12 figure:hover img {
    opacity: .5;
}


/* Flashing */

.hover13 figure:hover img {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
}


/* Shine */

.hover14 figure {
    position: relative;
}

.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.hover14 figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}


/* Circle */

.hover15 figure {
    position: relative;
}

.hover15 figure::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255, 255, 255, .2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.hover15 figure:hover::before {
    -webkit-animation: circle .75s;
    animation: circle .75s;
}

@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}


/* ======================================================================
 * Fonts
 * ====================================================================== */

.font-lato {
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* ======================================================================
 * Containers
 * ====================================================================== */

.shadow-div {
    box-shadow: 7px 9px 43px -11px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 9px 43px -11px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 9px 43px -11px rgba(0, 0, 0, 0.75);
    margin-bottom: 25px;
    margin-top: 0px;
    padding: 20px;
    width: 90%;
    background-color: #F3F3F3;
}

.desc {
    line-height: 25px;
    padding: 0px 15px;
}


/*============================================================
BUTTONS
============================================================*/

.db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 8px;
}

.db-button-color-square:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
}

.btn-option {
    font-size: 12px;
    padding: 1em 1em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff !important;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.btn-option:hover {
    box-shadow: 0 -150px 0 0 rgba(0, 0, 0, 0.5) inset;
}

.lila {
    background: #906094;
}

.negro {
    background: #2A2A2A;
}

.red {
    background: #E9573F;
}

.orange {
    background: #ff9f1a;
}

.green {
    background: #85ad00;
}

.blue {
    background: #0076ad;
}


/*============================================================
TRANSITIONS
============================================================*/

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0
}

.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

{
    transform: translateX(10px);
    opacity: 0;
}

.bounce-enter-active {
    animation: bounce-in .5s;
}

.bounce-leave-active {
    animation: bounce-in .5s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}


/* NAVS */

.nav-tabs .nav-border-top-accent.active:after {
    border: 2px solid #5F7C8A;
    top: 0;
    left: -1px;
    right: 0;
}

.fg-accent {
    color: ##5F7C8A !important;
}

.nav-tabs .nav-border-top-theme.active:after {
    border: 2px solid #4C6987;
    top: 0;
    left: -1px;
    right: 0;
}

.fg-teal {
    color: #37BC9B !important;
}

.text-gray {
    color: #575d66 !important;
}

.text-blue {
    color: #516482 !important;
}

.control-label {
    font-weight: bold !important;
}

label {
    font-weight: bold !important;
}