.life-of-material-kit {
    background: #FFFFFF;
}

.serif-font {
    font-family: "Roboto Slab", "Times New Roman", serif;
}

a:focus, a:active, button:active, button:focus, button:hover, button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, select::-moz-focus-inner, input[type="file"]>input[type="button"]::-moz-focus-inner {
    outline: 0 !important;
}

.image-container {
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.image-container:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .3;
}

.made-with-mk {
    width: 50px;
    height: 50px;
    display: block;
    position: fixed;
    z-index: 555;
    bottom: 40px;
    right: 40px;
    border-radius: 30px;
    background-color: rgba(16, 16, 16, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px 12px;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    -moz-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    -o-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
}

.made-with-mk:hover, .made-with-mk:active, .made-with-mk:focus {
    width: 218px;
    color: #FFFFFF;
    transition-duration: .55s;
    padding: 10px 19px;
}

.made-with-mk:hover .made-with, .made-with-mk:active .made-with, .made-with-mk:focus .made-with {
    opacity: 1;
}

.made-with-mk:hover .brand, .made-with-mk:active .brand, .made-with-mk:focus .brand {
    left: 0;
}

.made-with-mk .brand, .made-with-mk .made-with {
    float: left;
}

.made-with-mk .brand {
    position: relative;
    top: 4px;
    left: -1px;
    letter-spacing: 1px;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 600;
}

.made-with-mk .made-with {
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    left: 58px;
    top: 14px;
    opacity: 0;
    margin: 0;
    -webkit-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    -moz-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    -o-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
    transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
}

.made-with-mk .made-with strong {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
}

.wizard-container {
    padding-top: 10px;
    z-index: 3;
}

.wizard-container .wizard-navigation {
    position: relative;
}

.title, .card-title, .wizard-title {
    font-weight: 700;
}

.title, .title a, .card-title, .card-title a, .wizard-title, .wizard-title a {
    color: #3C4858;
    text-decoration: none;
}

.description, .card-description, .footer-big p {
    color: #999999;
}

.card {
    background-color: #FFFFFF;
    padding: 10px 0;
    width: 100%;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}

.wizard-card {
    min-height: 410px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.wizard-card .picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.wizard-card .picture {
    width: 106px;
    height: 106px;
    background-color: #999999;
    border: 4px solid #CCCCCC;
    color: #FFFFFF;
    border-radius: 50%;
    margin: 5px auto;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.wizard-card .picture:hover {
    border-color: #2ca8ff;
}

.wizard-card .moving-tab {
    position: absolute;
    text-align: center;
    padding: 12px;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased;
    top: -4px;
    left: 0px;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
}

.wizard-card[data-color="purple"] .moving-tab {
    background-color: #9c27b0;
    box-shadow: 0 16px 26px -10px rgba(156, 39, 176, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}

.wizard-card[data-color="purple"] .picture:hover {
    border-color: #9c27b0;
}

.wizard-card[data-color="purple"] .choice:hover .icon, .wizard-card[data-color="purple"] .choice.active .icon {
    border-color: #9c27b0;
    color: #9c27b0;
}

.wizard-card[data-color="purple"] .checkbox input[type=checkbox]:checked+.checkbox-material .check {
    background-color: #9c27b0;
}

.wizard-card[data-color="purple"] .radio input[type=radio]:checked~.check {
    background-color: #9c27b0;
}

.wizard-card[data-color="purple"] .radio input[type=radio]:checked~.circle {
    border-color: #9c27b0;
}

.wizard-card[data-color="green"] .moving-tab {
    background-color: #4caf50;
    box-shadow: 0 16px 26px -10px rgba(76, 175, 80, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

.wizard-card[data-color="green"] .picture:hover {
    border-color: #4caf50;
}

.wizard-card[data-color="green"] .choice:hover .icon, .wizard-card[data-color="green"] .choice.active .icon {
    border-color: #4caf50;
    color: #4caf50;
}

.wizard-card[data-color="green"] .checkbox input[type=checkbox]:checked+.checkbox-material .check {
    background-color: #4caf50;
}

.wizard-card[data-color="green"] .radio input[type=radio]:checked~.check {
    background-color: #4caf50;
}

.wizard-card[data-color="green"] .radio input[type=radio]:checked~.circle {
    border-color: #4caf50;
}

.wizard-card[data-color="blue"] .moving-tab {
    background-color: #00bcd4;
    box-shadow: 0 16px 26px -10px rgba(0, 188, 212, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
}

.wizard-card[data-color="blue"] .picture:hover {
    border-color: #00bcd4;
}

.wizard-card[data-color="blue"] .choice:hover .icon, .wizard-card[data-color="blue"] .choice.active .icon {
    border-color: #00bcd4;
    color: #00bcd4;
}

.wizard-card[data-color="blue"] .checkbox input[type=checkbox]:checked+.checkbox-material .check {
    background-color: #00bcd4;
}

.wizard-card[data-color="blue"] .radio input[type=radio]:checked~.check {
    background-color: #00bcd4;
}

.wizard-card[data-color="blue"] .radio input[type=radio]:checked~.circle {
    border-color: #00bcd4;
}

.wizard-card[data-color="orange"] .moving-tab {
    background-color: #ff9800;
    box-shadow: 0 16px 26px -10px rgba(255, 152, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 152, 0, 0.2);
}

.wizard-card[data-color="orange"] .picture:hover {
    border-color: #ff9800;
}

.wizard-card[data-color="orange"] .choice:hover .icon, .wizard-card[data-color="orange"] .choice.active .icon {
    border-color: #ff9800;
    color: #ff9800;
}

.wizard-card[data-color="orange"] .checkbox input[type=checkbox]:checked+.checkbox-material .check {
    background-color: #ff9800;
}

.wizard-card[data-color="orange"] .radio input[type=radio]:checked~.check {
    background-color: #ff9800;
}

.wizard-card[data-color="orange"] .radio input[type=radio]:checked~.circle {
    border-color: #ff9800;
}

.wizard-card[data-color="red"] .moving-tab {
    background-color: #f44336;
    box-shadow: 0 16px 26px -10px rgba(244, 67, 54, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
}

.wizard-card[data-color="red"] .picture:hover {
    border-color: #f44336;
}

.wizard-card[data-color="red"] .choice:hover .icon, .wizard-card[data-color="red"] .choice.active .icon {
    border-color: #f44336;
    color: #f44336;
}

.wizard-card[data-color="red"] .checkbox input[type=checkbox]:checked+.checkbox-material .check {
    background-color: #f44336;
}

.wizard-card[data-color="red"] .radio input[type=radio]:checked~.check {
    background-color: #f44336;
}

.wizard-card[data-color="red"] .radio input[type=radio]:checked~.circle {
    border-color: #f44336;
}

.wizard-card .picture input[type="file"] {
    cursor: pointer;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    width: 100%;
}

.wizard-card .picture-src {
    width: 100%;
}

.wizard-card .tab-content {
    padding: 20px 15px;
}

.wizard-card .wizard-footer {
    padding: 0 15px;
}

.wizard-card .wizard-footer .checkbox {
    margin-top: 16px;
}

.wizard-card .disabled {
    display: none;
}

.wizard-card .wizard-header {
    text-align: center;
    padding: 25px 0 35px;
}

.wizard-card .wizard-header h5 {
    margin: 5px 0 0;
}

.wizard-card .nav-pills>li {
    text-align: center;
}

.wizard-card .btn {
    text-transform: uppercase;
}

.wizard-card .info-text {
    text-align: center;
    font-weight: 300;
    margin: 10px 0 30px;
}

.wizard-card .choice {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

.wizard-card .choice .icon {
    text-align: center;
    vertical-align: middle;
    height: 116px;
    width: 116px;
    border-radius: 50%;
    color: #999999;
    margin: 0 auto 20px;
    border: 4px solid #CCCCCC;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.wizard-card .choice i {
    font-size: 40px;
    line-height: 111px;
}

.wizard-card .choice:hover .icon, .wizard-card .choice.active .icon {
    border-color: #2ca8ff;
}

.wizard-card .choice input[type="radio"], .wizard-card .choice input[type="checkbox"] {
    position: absolute;
    left: -10000px;
    z-index: -1;
}

.wizard-card .btn-finish {
    display: none;
}

.wizard-card .description {
    color: #999999;
    font-size: 14px;
}

.wizard-card .wizard-title {
    margin: 0;
}

.btn {
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 12px 30px;
    margin: 0px 1px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn::-moz-focus-inner {
    border: 0;
}

.btn, .btn.btn-default {
    box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.btn, .btn:hover, .btn:focus, .btn:active, .btn.active, .btn:active:focus, .btn:active:hover, .btn.active:focus, .btn.active:hover, .open>.btn.dropdown-toggle, .open>.btn.dropdown-toggle:focus, .open>.btn.dropdown-toggle:hover, .btn.btn-default, .btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active, .btn.btn-default.active, .btn.btn-default:active:focus, .btn.btn-default:active:hover, .btn.btn-default.active:focus, .btn.btn-default.active:hover, .open>.btn.btn-default.dropdown-toggle, .open>.btn.btn-default.dropdown-toggle:focus, .open>.btn.btn-default.dropdown-toggle:hover {
    background-color: #999999;
    color: #FFFFFF !important;
}

.btn:focus, .btn:active, .btn:hover, .btn.btn-default:focus, .btn.btn-default:active, .btn.btn-default:hover {
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}

.btn.disabled, .btn.disabled:hover, .btn.disabled:focus, .btn.disabled.focus, .btn.disabled:active, .btn.disabled.active, .btn:disabled, .btn:disabled:hover, .btn:disabled:focus, .btn:disabled.focus, .btn:disabled:active, .btn:disabled.active, .btn[disabled], .btn[disabled]:hover, .btn[disabled]:focus, .btn[disabled].focus, .btn[disabled]:active, .btn[disabled].active, fieldset[disabled] .btn, fieldset[disabled] .btn:hover, fieldset[disabled] .btn:focus, fieldset[disabled] .btn.focus, fieldset[disabled] .btn:active, fieldset[disabled] .btn.active, .btn.btn-default.disabled, .btn.btn-default.disabled:hover, .btn.btn-default.disabled:focus, .btn.btn-default.disabled.focus, .btn.btn-default.disabled:active, .btn.btn-default.disabled.active, .btn.btn-default:disabled, .btn.btn-default:disabled:hover, .btn.btn-default:disabled:focus, .btn.btn-default:disabled.focus, .btn.btn-default:disabled:active, .btn.btn-default:disabled.active, .btn.btn-default[disabled], .btn.btn-default[disabled]:hover, .btn.btn-default[disabled]:focus, .btn.btn-default[disabled].focus, .btn.btn-default[disabled]:active, .btn.btn-default[disabled].active, fieldset[disabled] .btn.btn-default, fieldset[disabled] .btn.btn-default:hover, fieldset[disabled] .btn.btn-default:focus, fieldset[disabled] .btn.btn-default.focus, fieldset[disabled] .btn.btn-default:active, fieldset[disabled] .btn.btn-default.active {
    box-shadow: none;
}

.btn.btn-simple, .btn.btn-default.btn-simple {
    background-color: transparent;
    color: #999999;
    box-shadow: none;
}

.btn.btn-simple:hover, .btn.btn-simple:focus, .btn.btn-simple:active, .btn.btn-default.btn-simple:hover, .btn.btn-default.btn-simple:focus, .btn.btn-default.btn-simple:active {
    background-color: transparent;
    color: #999999;
}

.btn.btn-primary {
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}

.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .open>.btn.btn-primary.dropdown-toggle, .open>.btn.btn-primary.dropdown-toggle:focus, .open>.btn.btn-primary.dropdown-toggle:hover {
    background-color: #9c27b0;
    color: #FFFFFF;
}

.btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover {
    box-shadow: 0 14px 26px -12px rgba(156, 39, 176, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2);
}

.btn.btn-primary.disabled, .btn.btn-primary.disabled:hover, .btn.btn-primary.disabled:focus, .btn.btn-primary.disabled.focus, .btn.btn-primary.disabled:active, .btn.btn-primary.disabled.active, .btn.btn-primary:disabled, .btn.btn-primary:disabled:hover, .btn.btn-primary:disabled:focus, .btn.btn-primary:disabled.focus, .btn.btn-primary:disabled:active, .btn.btn-primary:disabled.active, .btn.btn-primary[disabled], .btn.btn-primary[disabled]:hover, .btn.btn-primary[disabled]:focus, .btn.btn-primary[disabled].focus, .btn.btn-primary[disabled]:active, .btn.btn-primary[disabled].active, fieldset[disabled] .btn.btn-primary, fieldset[disabled] .btn.btn-primary:hover, fieldset[disabled] .btn.btn-primary:focus, fieldset[disabled] .btn.btn-primary.focus, fieldset[disabled] .btn.btn-primary:active, fieldset[disabled] .btn.btn-primary.active {
    box-shadow: none;
}

.btn.btn-primary.btn-simple {
    background-color: transparent;
    color: #9c27b0;
    box-shadow: none;
}

.btn.btn-primary.btn-simple:hover, .btn.btn-primary.btn-simple:focus, .btn.btn-primary.btn-simple:active {
    background-color: transparent;
    color: #9c27b0;
}

.btn.btn-info {
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
}

.btn.btn-info, .btn.btn-info:hover, .btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info.active, .btn.btn-info:active:focus, .btn.btn-info:active:hover, .btn.btn-info.active:focus, .btn.btn-info.active:hover, .open>.btn.btn-info.dropdown-toggle, .open>.btn.btn-info.dropdown-toggle:focus, .open>.btn.btn-info.dropdown-toggle:hover {
    background-color: #00bcd4;
    color: #FFFFFF;
}

.btn.btn-info:focus, .btn.btn-info:active, .btn.btn-info:hover {
    box-shadow: 0 14px 26px -12px rgba(0, 188, 212, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
}

.btn.btn-info.disabled, .btn.btn-info.disabled:hover, .btn.btn-info.disabled:focus, .btn.btn-info.disabled.focus, .btn.btn-info.disabled:active, .btn.btn-info.disabled.active, .btn.btn-info:disabled, .btn.btn-info:disabled:hover, .btn.btn-info:disabled:focus, .btn.btn-info:disabled.focus, .btn.btn-info:disabled:active, .btn.btn-info:disabled.active, .btn.btn-info[disabled], .btn.btn-info[disabled]:hover, .btn.btn-info[disabled]:focus, .btn.btn-info[disabled].focus, .btn.btn-info[disabled]:active, .btn.btn-info[disabled].active, fieldset[disabled] .btn.btn-info, fieldset[disabled] .btn.btn-info:hover, fieldset[disabled] .btn.btn-info:focus, fieldset[disabled] .btn.btn-info.focus, fieldset[disabled] .btn.btn-info:active, fieldset[disabled] .btn.btn-info.active {
    box-shadow: none;
}

.btn.btn-info.btn-simple {
    background-color: transparent;
    color: #00bcd4;
    box-shadow: none;
}

.btn.btn-info.btn-simple:hover, .btn.btn-info.btn-simple:focus, .btn.btn-info.btn-simple:active {
    background-color: transparent;
    color: #00bcd4;
}

.btn.btn-success {
    box-shadow: 0 2px 2px 0 rgba(76, 175, 80, 0.14), 0 3px 1px -2px rgba(76, 175, 80, 0.2), 0 1px 5px 0 rgba(76, 175, 80, 0.12);
}

.btn.btn-success, .btn.btn-success:hover, .btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success.active, .btn.btn-success:active:focus, .btn.btn-success:active:hover, .btn.btn-success.active:focus, .btn.btn-success.active:hover, .open>.btn.btn-success.dropdown-toggle, .open>.btn.btn-success.dropdown-toggle:focus, .open>.btn.btn-success.dropdown-toggle:hover {
    background-color: #4caf50;
    color: #FFFFFF;
}

.btn.btn-success:focus, .btn.btn-success:active, .btn.btn-success:hover {
    box-shadow: 0 14px 26px -12px rgba(76, 175, 80, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(76, 175, 80, 0.2);
}

.btn.btn-success.disabled, .btn.btn-success.disabled:hover, .btn.btn-success.disabled:focus, .btn.btn-success.disabled.focus, .btn.btn-success.disabled:active, .btn.btn-success.disabled.active, .btn.btn-success:disabled, .btn.btn-success:disabled:hover, .btn.btn-success:disabled:focus, .btn.btn-success:disabled.focus, .btn.btn-success:disabled:active, .btn.btn-success:disabled.active, .btn.btn-success[disabled], .btn.btn-success[disabled]:hover, .btn.btn-success[disabled]:focus, .btn.btn-success[disabled].focus, .btn.btn-success[disabled]:active, .btn.btn-success[disabled].active, fieldset[disabled] .btn.btn-success, fieldset[disabled] .btn.btn-success:hover, fieldset[disabled] .btn.btn-success:focus, fieldset[disabled] .btn.btn-success.focus, fieldset[disabled] .btn.btn-success:active, fieldset[disabled] .btn.btn-success.active {
    box-shadow: none;
}

.btn.btn-success.btn-simple {
    background-color: transparent;
    color: #4caf50;
    box-shadow: none;
}

.btn.btn-success.btn-simple:hover, .btn.btn-success.btn-simple:focus, .btn.btn-success.btn-simple:active {
    background-color: transparent;
    color: #4caf50;
}

.btn.btn-warning {
    box-shadow: 0 2px 2px 0 rgba(255, 152, 0, 0.14), 0 3px 1px -2px rgba(255, 152, 0, 0.2), 0 1px 5px 0 rgba(255, 152, 0, 0.12);
}

.btn.btn-warning, .btn.btn-warning:hover, .btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning.active, .btn.btn-warning:active:focus, .btn.btn-warning:active:hover, .btn.btn-warning.active:focus, .btn.btn-warning.active:hover, .open>.btn.btn-warning.dropdown-toggle, .open>.btn.btn-warning.dropdown-toggle:focus, .open>.btn.btn-warning.dropdown-toggle:hover {
    background-color: #ff9800;
    color: #FFFFFF;
}

.btn.btn-warning:focus, .btn.btn-warning:active, .btn.btn-warning:hover {
    box-shadow: 0 14px 26px -12px rgba(255, 152, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 152, 0, 0.2);
}

.btn.btn-warning.disabled, .btn.btn-warning.disabled:hover, .btn.btn-warning.disabled:focus, .btn.btn-warning.disabled.focus, .btn.btn-warning.disabled:active, .btn.btn-warning.disabled.active, .btn.btn-warning:disabled, .btn.btn-warning:disabled:hover, .btn.btn-warning:disabled:focus, .btn.btn-warning:disabled.focus, .btn.btn-warning:disabled:active, .btn.btn-warning:disabled.active, .btn.btn-warning[disabled], .btn.btn-warning[disabled]:hover, .btn.btn-warning[disabled]:focus, .btn.btn-warning[disabled].focus, .btn.btn-warning[disabled]:active, .btn.btn-warning[disabled].active, fieldset[disabled] .btn.btn-warning, fieldset[disabled] .btn.btn-warning:hover, fieldset[disabled] .btn.btn-warning:focus, fieldset[disabled] .btn.btn-warning.focus, fieldset[disabled] .btn.btn-warning:active, fieldset[disabled] .btn.btn-warning.active {
    box-shadow: none;
}

.btn.btn-warning.btn-simple {
    background-color: transparent;
    color: #ff9800;
    box-shadow: none;
}

.btn.btn-warning.btn-simple:hover, .btn.btn-warning.btn-simple:focus, .btn.btn-warning.btn-simple:active {
    background-color: transparent;
    color: #ff9800;
}

.btn.btn-danger {
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
}

.btn.btn-danger, .btn.btn-danger:hover, .btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger.active, .btn.btn-danger:active:focus, .btn.btn-danger:active:hover, .btn.btn-danger.active:focus, .btn.btn-danger.active:hover, .open>.btn.btn-danger.dropdown-toggle, .open>.btn.btn-danger.dropdown-toggle:focus, .open>.btn.btn-danger.dropdown-toggle:hover {
    background-color: #f44336;
    color: #FFFFFF;
}

.btn.btn-danger:focus, .btn.btn-danger:active, .btn.btn-danger:hover {
    box-shadow: 0 14px 26px -12px rgba(244, 67, 54, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(244, 67, 54, 0.2);
}

.btn.btn-danger.disabled, .btn.btn-danger.disabled:hover, .btn.btn-danger.disabled:focus, .btn.btn-danger.disabled.focus, .btn.btn-danger.disabled:active, .btn.btn-danger.disabled.active, .btn.btn-danger:disabled, .btn.btn-danger:disabled:hover, .btn.btn-danger:disabled:focus, .btn.btn-danger:disabled.focus, .btn.btn-danger:disabled:active, .btn.btn-danger:disabled.active, .btn.btn-danger[disabled], .btn.btn-danger[disabled]:hover, .btn.btn-danger[disabled]:focus, .btn.btn-danger[disabled].focus, .btn.btn-danger[disabled]:active, .btn.btn-danger[disabled].active, fieldset[disabled] .btn.btn-danger, fieldset[disabled] .btn.btn-danger:hover, fieldset[disabled] .btn.btn-danger:focus, fieldset[disabled] .btn.btn-danger.focus, fieldset[disabled] .btn.btn-danger:active, fieldset[disabled] .btn.btn-danger.active {
    box-shadow: none;
}

.btn.btn-danger.btn-simple {
    background-color: transparent;
    color: #f44336;
    box-shadow: none;
}

.btn.btn-danger.btn-simple:hover, .btn.btn-danger.btn-simple:focus, .btn.btn-danger.btn-simple:active {
    background-color: transparent;
    color: #f44336;
}

.btn:focus, .btn:active, .btn:active:focus {
    outline: 0;
}

.btn.btn-round {
    border-radius: 30px;
}

.btn:not(.btn-just-icon):not(.btn-fab) .fa {
    font-size: 18px;
    margin-top: -2px;
    position: relative;
    top: 2px;
}

.btn.btn-fab {
    border-radius: 50%;
    font-size: 24px;
    height: 56px;
    margin: auto;
    min-width: 56px;
    width: 56px;
    padding: 0;
    overflow: hidden;
    position: relative;
    line-height: normal;
}

.btn.btn-fab .ripple-container {
    border-radius: 50%;
}

.btn.btn-fab.btn-fab-mini, .btn-group-sm .btn.btn-fab {
    height: 40px;
    min-width: 40px;
    width: 40px;
}

.btn.btn-fab.btn-fab-mini.material-icons, .btn-group-sm .btn.btn-fab.material-icons {
    top: -3.5px;
    left: -3.5px;
}

.btn.btn-fab.btn-fab-mini .material-icons, .btn-group-sm .btn.btn-fab .material-icons {
    font-size: 17px;
}

.btn.btn-fab i.material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12px, -12px);
    line-height: 24px;
    width: 24px;
    font-size: 24px;
}

.btn.btn-lg, .btn-group-lg .btn {
    font-size: 14px;
    padding: 18px 36px;
}

.btn.btn-sm, .btn-group-sm .btn {
    padding: 5px 20px;
    font-size: 11px;
}

.btn.btn-xs, .btn-group-xs .btn {
    padding: 4px 15px;
    font-size: 10px;
}

.btn.btn-just-icon {
    font-size: 18px;
    padding: 10px 10px;
    line-height: 1em;
}

.btn.btn-just-icon i {
    width: 20px;
}

.btn.btn-just-icon.btn-lg {
    font-size: 22px;
    padding: 13px 18px;
}

.btn .material-icons {
    vertical-align: middle;
    font-size: 17px;
    top: -1px;
    position: relative;
}


/*            Navigation menu                */

.nav-pills {
    background-color: rgba(200, 200, 200, 0.2);
}

.nav-pills>li+li {
    margin-left: 0;
}

.nav-pills>li>a {
    border: 0 !important;
    border-radius: 0;
    line-height: 18px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    color: #555555 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus, .nav-pills>li>a:hover, .nav-pills>li>a:focus {
    background-color: inherit;
}

.nav-pills>li i {
    display: block;
    font-size: 30px;
    padding: 15px 0;
}

@keyframes rippleOn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rippleOff {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes checkbox-on {
    0% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
    }
    50% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
    }
    100% {
        box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
    }
}

@keyframes rippleOn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rippleOff {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .main .container {
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) {
    .navbar-form {
        margin-top: 21px;
        margin-bottom: 21px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .btn-wd {
        min-width: 140px;
    }
}