@import url('https://fonts.googleapis.com/css?family=Coiny');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Maitree');

/*body {
        background: #DCDDDF url(http://cssdeck.com/uploads/media/items/7/7AF2Qzt.png);
        color: #000;
        font: 14px Arial;
        margin: 0 auto;
        padding: 0;
        position: relative;
}*/

a {
    text-decoration: none !important;
}

#line hr {
    padding: 0px;
    margin: 8px 0px 8px 0px;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #563D64;
}

small {
    font-size: 10px;
}

b,
strong {
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.clearfix:after,
form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*CONTEN DE LOGIN*/

#content {
    background: #f9f9f9;
    background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -o-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -ms-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0);
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -ms-box-shadow: 0 1px 0 #fff inset;
    -o-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 5px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    /*width: 400px;*/
}

#content h1 {
    color: #7E7E7E;
    font: bold 20px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}

#content h1:before,
#content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 27%;
}

#content h1:after {
    background: rgb(126, 126, 126);
    background: -moz-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    right: 0;
}

#content h1:before {
    background: rgb(126, 126, 126);
    background: -moz-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    left: 0;
}

#content form {
    margin: 17px 0px 19px 0px;
    position: relative
}

#content form input[type="text"],
#content form input[type="password"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #ffffff url(../../images/iconos_login.png) no-repeat;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 13px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 10px 15px 10px 40px;
    width: 80%;
}

#content form input[type="text"]:focus,
#content form input[type="password"]:focus {
    -webkit-box-shadow: 0 0 2px #ed1c24 inset;
    -moz-box-shadow: 0 0 2px #ed1c24 inset;
    -ms-box-shadow: 0 0 2px #ed1c24 inset;
    -o-box-shadow: 0 0 2px #ed1c24 inset;
    box-shadow: 0 0 2px #ed1c24 inset;
    background-color: #fff;
    border: 1px solid #ed1c24;
    outline: none;
}


/*CONTEND DE PANEL*/

#content2 {
    /*    top: 20px;*/
    background: #f9f9f9;
    background: -moz-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -o-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: -ms-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    background: linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(249, 249, 249, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9', GradientType=0);
    -webkit-box-shadow: 0 1px 0 #fff inset;
    -moz-box-shadow: 0 1px 0 #fff inset;
    -ms-box-shadow: 0 1px 0 #fff inset;
    -o-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 5px 0 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    /*width: 400px;*/
}

#content2 h1 {
    color: #7E7E7E;
    font: bold 20px Helvetica, Arial, sans-serif;
    letter-spacing: -0.05em;
    line-height: 20px;
    margin: 10px 0 30px;
}

#content2 h1:before,
#content2 h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 27%;
}

#content2 h1:after {
    background: rgb(126, 126, 126);
    background: -moz-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    right: 0;
}

#content2 h1:before {
    background: rgb(126, 126, 126);
    background: -moz-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    left: 0;
}

#content2 form {
    margin: 0 20px;
    position: relative
}

#content2 form input[type="text"],
#content2 form input[type="password"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0, 0, 0, 0.08) inset;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #eae7e7 url(../../images/iconos_login.png) no-repeat;
    border: 1px solid #c8c8c8;
    color: #777;
    font: 13px Helvetica, Arial, sans-serif;
    margin: 0 0 10px;
    padding: 10px 15px 10px 40px;
    width: 80%;
}

#content2 form input[type="text"]:focus,
#content2 form input[type="password"]:focus {
    -webkit-box-shadow: 0 0 2px #ed1c24 inset;
    -moz-box-shadow: 0 0 2px #ed1c24 inset;
    -ms-box-shadow: 0 0 2px #ed1c24 inset;
    -o-box-shadow: 0 0 2px #ed1c24 inset;
    box-shadow: 0 0 2px #ed1c24 inset;
    background-color: #fff;
    border: 1px solid #ed1c24;
    outline: none;
}

#username {
    background-position: 10px 10px !important
}

#password {
    background-position: 10px -53px !important
}

#content2 form input[type="submit"] {
    background: rgb(254, 231, 154);
    background: -moz-linear-gradient(top, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: -o-linear-gradient(top, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: -ms-linear-gradient(top, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    background: linear-gradient(top, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151', GradientType=0);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -ms-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    -o-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    /*float: left;*/
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    /*margin: 20px 0 35px 15px;*/
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    width: 120px;
}

#content form input[type="submit"]:hover {
    background-color: #20b94b;
}

#content form div a {
    color: #004a80;
    float: right;
    font-size: 12px;
    margin: 15px 15px 0 0;
    text-decoration: underline;
}

.button {
    background: rgb(247, 249, 250);
    background: -moz-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -o-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: -ms-linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    background: linear-gradient(top, rgba(247, 249, 250, 1) 0%, rgba(240, 240, 240, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0', GradientType=0);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #CFD5D9;
    padding: 15px 0;
}

.button a {
    background: url(../../images/iconos_login.png) 0 -112px no-repeat;
    color: #7E7E7E;
    font-size: 17px;
    padding: 2px 0 2px 40px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.button a:hover {
    background-position: 0 -135px;
    color: #00aeef;
}


/* CAMBIOS */

.fondo {
    background: rgba(247, 247, 247, 1);
    background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(230, 230, 230, 1) 10%, rgba(181, 181, 181, 1) 21%, rgba(150, 150, 150, 1) 28%, rgba(128, 128, 128, 1) 35%, rgba(117, 117, 117, 1) 44%, rgba(110, 110, 110, 1) 52%, rgba(87, 87, 87, 1) 60%, rgba(66, 66, 66, 1) 68%, rgba(61, 61, 61, 1) 76%, rgba(15, 15, 15, 1) 85%, rgba(10, 10, 10, 1) 92%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(10%, rgba(230, 230, 230, 1)), color-stop(21%, rgba(181, 181, 181, 1)), color-stop(28%, rgba(150, 150, 150, 1)), color-stop(35%, rgba(128, 128, 128, 1)), color-stop(44%, rgba(117, 117, 117, 1)), color-stop(52%, rgba(110, 110, 110, 1)), color-stop(60%, rgba(87, 87, 87, 1)), color-stop(68%, rgba(66, 66, 66, 1)), color-stop(76%, rgba(61, 61, 61, 1)), color-stop(85%, rgba(15, 15, 15, 1)), color-stop(92%, rgba(10, 10, 10, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(230, 230, 230, 1) 10%, rgba(181, 181, 181, 1) 21%, rgba(150, 150, 150, 1) 28%, rgba(128, 128, 128, 1) 35%, rgba(117, 117, 117, 1) 44%, rgba(110, 110, 110, 1) 52%, rgba(87, 87, 87, 1) 60%, rgba(66, 66, 66, 1) 68%, rgba(61, 61, 61, 1) 76%, rgba(15, 15, 15, 1) 85%, rgba(10, 10, 10, 1) 92%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(230, 230, 230, 1) 10%, rgba(181, 181, 181, 1) 21%, rgba(150, 150, 150, 1) 28%, rgba(128, 128, 128, 1) 35%, rgba(117, 117, 117, 1) 44%, rgba(110, 110, 110, 1) 52%, rgba(87, 87, 87, 1) 60%, rgba(66, 66, 66, 1) 68%, rgba(61, 61, 61, 1) 76%, rgba(15, 15, 15, 1) 85%, rgba(10, 10, 10, 1) 92%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(230, 230, 230, 1) 10%, rgba(181, 181, 181, 1) 21%, rgba(150, 150, 150, 1) 28%, rgba(128, 128, 128, 1) 35%, rgba(117, 117, 117, 1) 44%, rgba(110, 110, 110, 1) 52%, rgba(87, 87, 87, 1) 60%, rgba(66, 66, 66, 1) 68%, rgba(61, 61, 61, 1) 76%, rgba(15, 15, 15, 1) 85%, rgba(10, 10, 10, 1) 92%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(230, 230, 230, 1) 10%, rgba(181, 181, 181, 1) 21%, rgba(150, 150, 150, 1) 28%, rgba(128, 128, 128, 1) 35%, rgba(117, 117, 117, 1) 44%, rgba(110, 110, 110, 1) 52%, rgba(87, 87, 87, 1) 60%, rgba(66, 66, 66, 1) 68%, rgba(61, 61, 61, 1) 76%, rgba(15, 15, 15, 1) 85%, rgba(10, 10, 10, 1) 92%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#000000', GradientType=0);
}

.panelverde {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #20b94b;
    padding-top: 10px;
}

.panelinterno {
    margin-bottom: 0px;
    margin-top: 10px;
    background-color: #20b94b;
    border: 1px solid transparent;
    border-radius: 15px;
    -webkit-box-shadow: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
    color: white;
}

.iconopanel {
    color: white;
    font-size: 8em;
}

.panelinterno h2 {
    font-family: Arial;
    margin-top: 0px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.headpaneles {
    background-color: #F4E927;
    /*   padding: 1%;*/
    padding-bottom: 5px;
    padding-top: 5px;
}

.headpaneles-verde {
    background-color: #20b94b;
    /*   padding: 1%;*/
    padding-bottom: 5px;
    padding-top: 5px;
}

.headpaneles h3 {
    color: #516FB4 !important;
    font-size: 15px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 5px;
    font-weight: bolder;
}

.headpaneles-verde h3 {
    font-size: 20px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 40px;
}

.panelcontenidos {
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding: 5px;
    /*border: 1px solid #F0F1F2;*/
}

.secciones {
    margin-top: 10px;
}

.vertodasnoticias {
    margin: 40px auto;
    display: inline-block;
}

.imagennoticia {
    max-width: 100%;
}

.text-justify {
    text-align: justify;
}

.logos1 {
    display: block;
    text-indent: -9999px;
    width: 300px;
    height: 120px;
    background: url(../../images/logo1.svg);
    background-size: 300px 120px;
}

.logos2 {
    display: block;
    text-indent: -9999px;
    width: 300px;
    height: 120px;
    background: url(../../images/logo2.svg);
    background-size: 300px 120px;
}

.logos3 {
    display: block;
    text-indent: -9999px;
    width: 300px;
    height: 120px;
    background: url(../../images/logo4.svg);
    background-size: 300px 120px;
}

@media (max-width: 1200px) {
    .logos1 {
        width: 200px;
        height: 80px;
        background-size: 200px 80px;
    }
    .logos2 {
        width: 200px;
        height: 80px;
        background-size: 200px 80px;
    }
    .logos3 {
        width: 200px;
        height: 80px;
        background-size: 200px 80px;
    }
    #hora {
        font-size: 10px;
    }
}

@media screen and (max-width: 767px) {
    .img_sitio {
        width: 50%;
    }
    .column-social {
        width: 55%;
    }
}

@media screen and (min-width: 990px) {
    .separador {
        border-right: 3px solid #ffffff;
    }
    .separadorfoot {
        border-right: 1px solid #ffffff;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


/*body {
    background: #f9f6f1 url(../../images/textura3.png) repeat 0 0;
    /*background: #f9f6f1;*/


/*  font: 13px/1.7em 'Open Sans';*/


/* } */
*/ .fecha a:hover {
    color: #fff;
}
.contenidopaneles {
    margin-top: 3%;
}
.titulonoticia {
    color: #516FB4;
    text-align: left;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 25px;
}
.titulonoticia-all {
    color: #E87918;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 18px;
}
.titulonoticia-detalle {
    color: #E87918;
    text-align: center;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
}
.redaccionoticia {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: justify;
    line-height: 16px;
    color: #555;
    word-wrap: break-word;
}
.redaccionoticia-index {
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: justify;
    line-height: 16px;
    color: #555;
    word-wrap: break-word;
    font-size: 15px
}
.panelnoticias {
    padding-left: 8px;
    padding-right: 8px;
}
.btnvermas {
    margin-top: 0px;
    background-color: #DA251D;
    color: white;
    border-radius: 25px;
}
.imgsite {
    margin-bottom: 3%;
    margin-top: 3%;
    width: 80%;
    padding: 0px;
    margin-left: 20px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
.imgsite a {
    width: 100%;
}
.imgsite figure {
    width: 100%;
}
.imgsite a {
    width: 100%;
}
.panelsitios {
    padding-left: 8px;
    padding-right: 8px;
}
.social {
    background-color: #20b94b;
}
.subfooter {
    background-color: #EEEEEE;
}
.footerprincipal {
    width: 100%;
    /*    height: 10%;*/
    
    background-color: #DA251D;
    text-align: center;
    color: white;
    font-size: 12px;
}
.footerprincipal p {
    color: #fff;
    text-shadow: 1px 1px 1px #bcbcbc, 1px 1px 0 #9c9c9c;
}
.contenidoredes {
    margin-top: 1%;
    margin-bottom: 20px;
    padding-left: 10px;
}
.red1 {
    display: inline-block;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    background: url(../../images/facebook.svg);
    background-size: 50px 50px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.red2 {
    display: inline-block;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    background: url(../../images/twitter.svg);
    background-size: 50px 50px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.red3 {
    display: inline-block;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    background: url(../../images/icono_inst.svg);
    background-size: 50px 50px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.red4 {
    display: inline-block;
    text-indent: -9999px;
    width: 50px;
    height: 50px;
    background: url(../../images/youtube.svg);
    background-size: 50px 50px;
    margin-bottom: 20px;
    margin-left: 15px;
}
.logosfooter {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 35px;
    padding-bottom: 70px;
}
.imglogosfoot {
    width: 90%;
    height: 40px;
}
.panelsinpading {
    padding-left: 0px;
    padding-right: 0px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 0px;
}
.nav navbar-nav {
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar-nav>li {
    border-right: 1px solid #ffffff;
    ;
}
.navbar-default {
    background-color: #516FB4;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-nav>li>a {
    /* padding-left: 35px; */
    
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar {
    min-height: 40px;
}
.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus {
    background-color: #00B1E1;
    color: #ebe3e0;
}
.foot {
    color: white;
}
.btn-success:hover {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success.active:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.lazur-bg {
    background-color: #009a43;
}
.item {
    background-color: yellow;
    margin: 2px;
    text-align: center;
    border: 1px solid black;
    width: 50px;
}
.tab-pane {
    height: 400px;
    overflow-y: scroll;
    width: 100%;
}
.tab-pane-small {
    height: 250px;
    overflow-y: scroll;
    width: 100%;
}

.redes-div2 {
    border: 2px solid #a1a1a1;
    border-radius: 10px;
    height: auto;
}
.facebook-compartir {
    margin-bottom: 8px;
}
.g-compartir {
    margin-bottom: 4px;
}
.twitter-compartir {
    margin-bottom: 2px;
}
.boton-compartir {
    margin-left: 45px;
}
.column-social {
    border: 2px solid #F2EEE7;
    border-radius: 10px;
    height: auto;
    width: 190px;
    margin-left: 15px;
    background-color: #F2F4F8;
}
.column-social:first-child {
    margin-right: 0px;
    width: 250px;
}

/* estilos slider empresas */
.content-slider {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 0;
}
.slider-vertical {
    float: left;
    padding-left: 20px;
}
@media (max-width: 1200px) {
    .column-social {
        margin-top: 20px;
    }
    
    .slider-vertical {
        padding-left: 0px;
    }
    
    .vertical-slider-container {
        max-width: 140px;
        margin: 0 auto;
        padding: 0;
    }
}

/* Animacion imagenes slider empresas */
.hoverempresas figure:hover img {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
    border: 1px solid #cccccc;
}
@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    
    100% {
        opacity: 1;
    }
}

/* ------------------------------*/

/* ------------------------------*/
img {
    max-width: 100%;
    width: auto \9;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.contact-img {
    display: inline-block;
}
.contact-text {
    font-size: 18px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
}
.content-contact {
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 25px;
    margin-top: 0px;
    padding: 20px;
    width: 90%;
    background-color: #F3F3F3;
}
div .content-contact-form {
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 25px;
    margin-top: 0px;
    padding: 20px;
    width: 90%;
    background-color: #F3F3F3;
}
.contact-map {
    width: 100%;
}
.contact-map iframe,
svg {
    max-width: 100%;
}
.contact-map iframe,
svg {
    width: 955px;
    height: 400px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}
.contact-map iframe,
svg {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
@media only screen and (min-width: 768px) {
    .contact-map iframe,
    svg {
        max-width: 100%;
    }
}
textarea {
    resize: none;
}
.titulo {
    font-family: 'Poppins', sans-serif;
}
.modal-body-terms {
    max-height: 150px;
    overflow-y: auto;
}

/* Estilos Buscador ofertas */
.buscar:hover {
    background-image: none !important;
    background-color: white !important;
    color: #E87918 !important;
    border: 1px solid #C00;
}
.buscar {
    border: 1px solid #23C6C8;
}

/* -------------------------------------- */

/* Animacion imagenes Institucionales */
.container-institucional {
    overflow: hidden;
    padding: 0px;
}
.cycle-slideshow img {
    float: none;
    padding: 20px;
    width: 100%;
    height: auto
}
@media (min-width: 1200px) {
    .cycle-slideshow {
        padding-right: 180px;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .cycle-slideshow {
        padding-right: 120px;
    }
}
@media (max-width: 767px) {
    .cycle-slideshow {
        padding-right: 0px;
    }
}
.slider-institucional figure {
    position: relative;
}
.slider-institucional figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.hoverinstitucional figure:hover img {
    opacity: 1;
    -webkit-animation: flash 1.5s;
    animation: flash 1.5s;
}
@-webkit-keyframes flash {
    0% {
        opacity: .4;
    }
    
    100% {
        opacity: 1;
    }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    
    100% {
        opacity: 1;
    }
}

/* -------------------------------------- */

/* Amimacion imagenes enlaces */
.hoverenlaces figure {
    position: relative;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
.hoverenlaces figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.hoverenlaces figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

/* -------------------------------------- */
#desc_oferta {
    font-size: 15px;
    text-align: justify;
    text-decoration: none;
    font-family: 'Inder', sans-serif;
    line-height: 28px;
    margin-bottom: 15px;
    color: #666;
}
.empresa-txt {
    font-size: 13px !important;
    color: #34AC55;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.oferta-txt {
    font-family: Georgia, arial, serif;
    font-size: 20px !important;
}
.search-result {
    display: block;
    background: #fff;
    padding: 15px 20px 15px 45px;
    margin: 0 0 20px;
    position: relative;
    /*Font*/
    
    font-family: Georgia, serif;
    font-size: 16px;
    line-height: 1.2;
    color: #666;
    text-align: justify;
    /*Borders - (Optional)*/
    
    border-left: 15px solid #c76c0c;
    border-right: 2px solid #c76c0c;
    /*Box Shadow - (Optional)*/
    
    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}
.search-result:hover {
    cursor: pointer;
}
.mbox {
    width: 200px;
    height: 300px;
    position: relative;
    border: 1px solid #BBB;
    background: #EEE;
}
.ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #E87918;
    background: linear-gradient(#E87918 0%, #E87918 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px;
    right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid #79A70A;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;
    border-right: 3px solid #79A70A;
    border-bottom: 3px solid transparent;
    border-top: 3px solid #79A70A;
}
.search-result::before {
    font-family: FontAwesome;
    content: "\f0f2";
    /*Font*/
    
    font-size: 30px;
    font-weight: bold;
    color: #5C5858;
    position: absolute;
    left: 5px;
    top: 15px;
}
.search-result::after {
    content: "";
}
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: #E3E0E0;
    border-bottom-width: 1px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(210, 29, 35, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(52, 164, 55, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(52, 164, 55, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #34a437;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #34a437;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #34a437;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #d21d23;
}

/* Estilos responsive menu index */
.menu-item-movil {
    border: 1px dotted #D21D23;
    line-height: 40px;
    padding: 5px 0px;
    font-size: 12px;
    font-weight: bold;
    font-family: Arial Black;
    color: white;
    background-color: #35A236;
    border-radius: 5px;
    background-size: cover;
    margin-top: 10px;
    word-spacing: 3px;
    border-left: 10px solid #DA251D;
    border-right: 3px solid #DA251D;
}
.menu-item-movil img {
    margin-left: 10px;
    font-size: 30px;
    height: 30px;
    vertical-align: middle;
}
@media only screen and (max-width: 332px) {
    .menu-item-movil {
        font-size: 10px;
        word-spacing: 0px;
    }
}
.header-top {
    display: none;
}
.header-middle {
    width: 100%;
    margin: auto;
    clear: left;
    background-color: #8EC110;
    z-index: 102;
}
.header-bottom {
    display: none;
}
.logo-uts {
    display: none;
}
.width-container logo-uts {
    display: none;
}
.redes-movil {
    overflow: hidden;
    width: 90%;
    position: relative;
    margin-left: 20px;
    top: 10px;
    margin-bottom: 20px;
}
.redes-movil>img {
    clear: none !important;
    width: 30px !important;
    height: 30px !important;
    margin-left: 5px;
}
#fb-root {
    display: none;
}
.logo-movil {
    display: block;
}
#main {
    padding: 0;
}
#menu-flotante {
    display: none;
}
body {
    width: 100%;
    overflow-x: hidden;
}
.contenido-movil {
    display: block;
    width: 100%;
    top: 0;
}
.contenido-pc {
    display: none;
}
.banner-boxed-movil {
    width: 100%;
    clear: left;
}
#sidebar-left-movil {
    width: 95%;
    padding: 5px;
}
.info-siderbar-managers {
    font-size: 0.5em;
    margin-right: 5px;
}
.parrafo-siderbar-managers {
    font-size: 12px !important;
}
.table_scg .parrafo-siderbar {
    font-size: 10px !important;
    padding: 2px;
}
.containerL {
    width: 100% !important;
}
.single {
    margin: 0 auto !important;
}
#menu-movil {
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    right: -100%;
    top: 113px;
    z-index: 100;
    height: 500px;
    overflow: auto;
    width: 300px;
    display: flex !important;
    align-items: top;
    transition: 300ms;
}
#menu-movil.active {
    right: 0;
}
#menu-movil ul {
    flex: 1;
}
#menu-movil li {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #cacaca;
}
#menu-movil li:before {
    display: none;
}
#menu-movil li:first-child {
    border-top: 1px solid #cacaca;
}

.width-container {
    width: 97% !important;
    margin: 0 auto;
    background-color: #F0F0F0;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    overflow: hidden;
    position: relative;
}
.slider_pc {
    display: none;
}
.slider_responsive {
    display: block !important;
    width: 98%;
    padding: 2% 1%;
    overflow: hidden;
}
.table-main {
    display: none !important;
}
#logo-colombia {
    display: none;
}
.slider_responsive #wowslider-container1 {
    padding: 2%;
    position: relative;
    width: 95%;
    background: #e4e4e4;
    margin: 0px auto 0px;
    z-index: 90;
    border: 0;
    text-align: left;
    /* reset align=center */
    
    overflow: hidden;
    border-radius: 10px;
}
.slider_responsive #wowslider-container1 .ws_images {
    position: relative;
    width: 95% !important;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    border-spacing: 0;
}
.noticia-destacada-titulo {
    background: rgba(18, 63, 17, 0.8) !important;
    color: #fff !important;
    padding-left: 1px;
    padding-bottom: 8px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    bottom: 20px;
    position: relative;
}
#contiene_btn {
    width: 95%;
    display: table;
    margin: 0 auto;
    overflow: hidden;
    margin-top: -10px;
}
.content-boxed {
    vertical-align: top;
}
@media only screen and (min-width:501px) {
    #contiene_btn {
        width: 521px;
    }
    
    .btn_ppal {
        float: left;
        margin-left: 10px !important;
    }
}
.btn_ppal {
    width: 250px;
    border-radius: 5px;
    box-shadow: 3px -3px 1px #c0c0c0;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn_ppal #btn_ppal_enunciado {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial Black;
    border-radius: 5px 0 0 5px;
    position: relative;
    height: 50px;
    width: 200px;
    float: left;
    text-align: center;
    border-right: 1px solid #FFF;
    padding: 10px;
}
.btn_ppal .img_btn_ppal {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 48px;
    height: 50px;
    border-radius: 0 5px 5px 0;
    float: left;
}
#sidebar-right {
    width: 100%;
    background-color: #F4F5F2;
    color: #669900;
    font-size: 12px;
}
#video_youtube {
    width: 95%;
    background: #fff;
    padding: 2%;
    margin: 0 auto;
    margin-top: 10px;
}
#video_youtube #vid {
    width: 95%;
}
#footer_movil {
    background: #DA251D;
    color: #fff;
    font-size: 15px;
    width: 100%;
    padding: 2%;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden;
    font-weight: bold;
    font-family: Arial Black;
    color: white;
}
.redesfooter_movil {
    background: #DA251D;
    margin: 0px;
    width: 100%;
}
.contiene_footers {
    width: 95%;
}
#footer_movil i {
    float: left;
    font-size: 2em;
    clear: left;
    margin-right: 5px;
    vertical-align: middle;
}
#footer_movil p {
    float: left;
    vertical-align: middle;
    font-size: 12px;
    padding-left: 5px;
}

/* ------------------------------------- */
@media only screen and (max-width: 768px) {
    #camera_wrap_1 {
        width: 80%;
        margin: 25px;
    }
}
.logo_servicio_empleo {
    /*border-top: 1px solid #d8d8d8;*/
    
    width: 100% !important;
    background: #FFFFFF;
    padding-bottom: 10px;
    /*padding-top: 10px;*/
    
    padding-left: 100px;
}
.logo_servicio_empleo .logo_servicio {
    margin: 7px 20px 0 0;
    float: left;
}
.logo_servicio_empleo .texto_servicio {
    float: left;
    width: 60%;
}
.logo_servicio_empleo span {
    background: url(../../images/logo_servicio_empleo_v2.png) no-repeat;
    float: left;
    width: 310px;
    height: 50px;
}
.texto_servicio p {
    padding-top: 15px;
}
body,
html {
    background-image: url(../../../images/textura3.png) !important;
}
.nav>li>a {
    color: #ffffff;
    font-weight: 600;
}
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.pace-inactive {
    display: none;
}
.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}
.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}
.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}
@-webkit-keyframes pace-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes pace-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes pace-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes pace-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.shadow_abs {
    filter: drop-shadow(5px 5px 10px #444);
}
.intro h3 {
    color: #1c3ed3;
    font-size: 2.4rem;
    line-height: 1.2;
    font-family: Lora, Helvetica Neue, Arial, sans-serif, -apple-system;
    width: 100%;
}
.intro p {
    width: 100%;
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: 1.8;
    color: #414156;
}