.badge-header {
    position: absolute;
    font-size: .85em;
    font-weight: normal;
    top: 50%;
    margin-top: -1.5em;
    min-width: 1.85em;
    padding: 3px 5px;
    right: 3px;
}

#container.mainnav-sm #mainnav-menu a .badge {
    margin-top: -1.5em;
}
#container.mainnav-sm #mainnav-menu a .badge {
    position: absolute;
    padding: 3px 7px;
    right: 2px;
    top: 25%}

.menu-popover>.popover-content>.single-content .label, .menu-popover>.popover-content>.single-content .badge {
    margin-left: 10px;
    float: none!important;
}

#aside-container #aside .nav-tabs .active .badge {
    opacity: 1;
}
#aside-container #aside .nav-tabs .badge {
    opacity: .5;
}

#container .badge {
    font-weight: normal;
    color: #fff;
}
.badge:empty.badge-icon {
    display: inline-block;
    width: .7em;
    height: .7em;
    padding: 0;
    min-width: 5px;
    margin: .5em;
    border-radius: 50%}
.badge.badge-fw, .badge:empty.badge-fw {
    margin-right: 1em;
}
.badge-default {
    background-color: #e3e8ee;
    color: #333;
}
.badge-primary {
    background-color: #5fa2dd;
}
.badge-info {
    background-color: #4ebcda;
}
.badge-success {
    background-color: #9cc96b;
}
.badge-warning {
    background-color: #ebaa4b;
}
.badge-danger {
    background-color: #f76c51;
}
.badge-mint {
    background-color: #50c7a7;
}
.badge-purple {
    background-color: #986291;
}
.badge-pink {
    background-color: #e17ca7;
}
.badge-dark {
    background-color: #3b4146;
}

.nav-tabs .label, .nav-tabs .badge {
    margin-left: 4px;
}

.panel-control>i, .panel-control>.badge, .panel-control>label {
    vertical-align: middle;
}

.activity{
    font-size: 12px;
    text-align: justify;
}

.activity-item:hover{
    background-color: #E7EBEE;
    cursor: pointer;
}

.dropdown-notificaciones{
    padding: 0px;
    margin: 0px;
}

/*The CSS example*/
#demo-notification{
    width: 20%;
    margin: 0 auto;
    font-family: arial,helvetica,sans-serif;
    min-width: 320px;
    margin: 0px;
}

/* notification app body*/
#notification{
    width: 100%;
    height: 300px;
    border: 1px solid #ddd;
    position: relative;
}

/* toolbar */
.toolbar{
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
    position: relative;
}

/* notification items container */
.container-notifications{
    position: relative;
    overflow: auto;
    width: 100%;
    height: 360px;
    font-size: 0.8em;
    overflow: auto;
}

/* trash icon */
.delete{
    float: right;
    padding: 8px 8px 8px 0px;
    font-size: 21px;
    color: #858585;
    cursor: pointer;
    transition: all 0.25s;
    width: 24px;
}

.title-notifications{
    padding: 8px 8px 8px 0px;
    margin: 0 auto;
    font-size: 18px;
    color: #858585;
    transition: all 0.25s;
    font-weight: bold;
}

.delete:hover{
    color: #444444;
}

/* bell app icon*/
.app-icon{
    float: left;
    padding: 8px 8px 8px 8px;
    font-size: 21px;
    color: #858585;
    cursor: pointer;
    transition: all 0.25s;
    width: 24px;
}


.app-icon:hover{
    color: #444444;
}

/* read more notifications button */
.read-more{
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    z-index: 60;
    width: 100%;
    text-align: center;
    padding: 7px 0px;
    background: #f5f5f5;
    color: #858585;
    cursor: pointer;
    transition: all 0.25s;
}

.read-more:hover{
    color: white;
    background-color: #1F8DD6;  
}

/* hidden utility */
.hidden{
    display: none;
}


.big-on-hover {
    transform: scale(1, 1);
}
.big-on-hover:hover {
    transform: scale(1.2, 1.2);
}

/**
* Reusable single-direction margin declaration
*/
.margin, p, .item {
    margin-top: 0;
    margin-bottom: -1px;
}
.margin:last-child, p:last-child, .item:last-child {
    margin-bottom: 0;
}

.item {
    display: table;
    transition: all 0.25s;
}

.item:hover{
    cursor: pointer;
}

.item-image,
.item-body {
    display: table-cell;
    vertical-align: middle;
}
.item-top .item-image, .item-top
.item-body {
    vertical-align: top;
}
.item-bottom .item-image, .item-bottom
.item-body {
    vertical-align: bottom;
}

.item-image {
    padding-right: 24px;
}
.item-image > img {
    display: block;
    max-width: none;
}
.item-rev .item-image {
    padding-right: 0;
    padding-left: 24px;
}

.item-body {
    width: 100%;
}

/**
* Notification Styles
*/
.note {
    position: relative;
    overflow: hidden;
    color: white;
    border: solid 1px #ddd;
    background: white;
    z-index: 3;
}

/* OK NOTIFICACION */
.note-ok {
    background-color: white;
    border-color: #ddd;
    z-index: 4;
}

.note-ok .note-icon{
    background-color: #178B13;  
}

.note-ok .note-text{
    color: #178B13;   
}

.note-ok .note-close:hover {
    background-color:#178B13;
}

.note-ok .note-close{
    color: #178B13;   
}
/* ------------------------- */

/* WARNING NOTIFICACION */
.note-warning {
    background-color: white;
    border-color: #ddd;
    z-index: 4;
}

.note-warning .note-icon{
    background-color: #9F6000;  
}

.note-warning .note-text{
    color: #9F6000;   
}

.note-warning .note-close:hover {
    background-color:#9F6000;
}

.note-warning .note-close{
    color: #9F6000;   
}
/* ------------------------- */

/* BLUE NOTIFICACION */
.note-blue {
    background-color: white;
    border-color: #ddd;
    z-index: 4;
}

.note-blue .note-icon{
    background-color: #2980B9;  
}

.note-blue .note-text{
    color: #2980B9;   
}

.note-blue .note-close:hover {
    background-color:#2980B9;
}

.note-blue .note-close{
    color: #2980B9;   
}
/* ------------------------- */

/* PURPLE NOTIFICACION */
.note-purple {
    background-color: white;
    border-color: #ddd;
    z-index: 4;
}

.note-purple .note-icon{
    background-color: #5B54AA;  
}

.note-purple .note-text{
    color: #5B54AA;   
}

.note-purple .note-close:hover {
    background-color:#5B54AA;
}

.note-purple .note-close{
    color: #5B54AA;   
}
/* ------------------------- */

/* ERROR NOTIFICACION */
.note-error {
    background-color: white;
    border-color: #ddd;
    z-index: 4;
}

.note-error .note-icon{
    background-color: #D82222;  
}

.note-error .note-text{
    color: #D82222;   
}

.note-error .note-close:hover {
    background-color:#D82222;
}

.note-error .note-close{
    color: #D82222;   
}
/* ------------------------- */

/* YELLOW NOTIFICACION */
.note-yellow {
    background-color: white;
    border-color: #ddd;
    z-index: 4;
}

.note-yellow .note-icon{
    background-color: #CFA846;  
}

.note-yellow .note-text{
    color: #CFA846;   
}

.note-yellow .note-close:hover {
    background-color:#CFA846;
}

.note-yellow .note-close{
    color: #CFA846;   
}
/* ------------------------- */

/* GREEN NOTIFICACION */
.note-green {
    background-color: white;
    border-color: #ddd;
    z-index: 4;
}

.note-green .note-icon{
    background-color: #27AE60;  
}

.note-green .note-text{
    color: #27AE60;   
}

.note-green .note-close:hover {
    background-color:#27AE60;
}

.note-green .note-close{
    color: #27AE60;   
}
/* ------------------------- */

/* 
.note-success {
  background-color: white;
  border-color:#ddd;
  z-index: 5;
}

.note-gray {
  background-color: white;
  border-color:#ddd;
  z-index: 6;
}

.note-warning {
  background-color: #f39c12;
}

.note-error {
  background-color: #e74c3c;
}

.note-info {
  background-color: #3498db;
}*/

.note-icon,
.note-text {
    padding: 10px;
    color: white;
}

.note-icon {
    min-width: 24px;
    text-align: center;
    font-size: 32px;
    font-size: 1.4rem;
    background-color: #FBB44C;
}



.note-success .note-icon{
    background-color: #FC797A;  
}

.note-gray .note-icon{
    background-color: #a3a3a3;  
}

.note-text {
    padding-right: 48px;
    color: #FBB44C; 
}

.note-text:hover {
    background-color: #F6F7F9; 
}



.note-success .note-text{
    color: #FC797A;   
}

.note-gray .note-text{
    color: #a3a3a3;  
}

.note-close {
    position: absolute;
    top: 8px;
    right: 2px;
    width: 28px;
    line-height: 30px;
    font-size: 19px;
    text-align: center;
    color: #FBB44C;
    background-color: none;
    transition: all 0.25s;
}



.note-success .note-close{
    color: #FC797A;   
}

.note-gray .note-close{
    color:#a3a3a3;
}


.note-close:hover {
    background-color:#FBB44C;
    color:white;
}



.note-success .note-close:hover {
    background-color:#FC797A;
}

.note-gray .note-close:hover{
    background-color:#a3a3a3;
}

.note:hover .note-close {
    opacity: 1;
}

.note-leida{
    background-color: white;
}

.note-noleida{
    background-color: #EDF2FA !important;
}


#alert-no-notificaciones{
    padding-top: 105px;
    padding-bottom: 5px;
    background: url('cool2.png') no-repeat top;
    margin-top: 20px;
    text-align: center;
    color: #839096;
    transition-property: height;
    transition-duration: .2s;
    transition-delay: .1s;
    background-size: 90px;
}


